
@{
    ViewBag.Title = "Index";
}

    <ul class="nav nav-tabs">
        <li ><a data-toggle="tab" href="#firsttab">View All</a></li>
        <li class="active"><a data-toggle="tab" href="#secondtab">Add New</a></liclass="active">
    </ul>
    <div class="tab-content">
        <div id ="firsttab"  class="tab-pane fade in ">@Html.Action("ViewAll")</div>
        <div id="secondtab" class="tab-pane fade in active">@Html.Action("AddorEdit")</div>
    </div>

@section scripts{
    @Scripts.Render("/bundles/jqueryval")
    }

